body{
	margin: 20px;
	background-color: #014753;
}
header{
	text-align: center;
}
header h1{
	font-family: lost fish;
	font-size: 70px;
	color: white;
}
header img{

	margin: 0 auto;
	width: 750px;
	border-radius: 1000px;
	border: 20px solid #00202F;
}
main{
	font-family: lost fish;
	color: white;
	font-size: 20px;
	line-height: 30px;
}

main h2{
	font-size: 50px;
}

main img{border-radius: 100px;
	border: 20px solid #00202F;
	max-width: 75%;
}
main p{
	line-height: 45px;
	font-size: 30px;
}
a:hover{
	opacity: 0.5;
}