body{background-color: beige;}

h2{font-size: 20;
		color: teal;}
		.notbold{
			font-size: 30;
			color: lime;
		}



.notbold{
			font-size: 80;
			color: lemonchiffon;
		}
		.boldheading{
			font-size: 80;
			color: lemonchiffon;
		}
		h2 span{
			text-transform: uppercase;
            color: hotpink;
		}